@model IEnumerable<myHondaMVC.Models.xemay>

@{
    ViewBag.Title = "Danhmucloai";
    Layout = "~/Areas/Page/Views/Shared/LayoutTrangchu.cshtml";
}

<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="@Url.Action("Index","Trangchu")">Home</a>
                    <i>|</i>
                </li>
                <li>Sản phẩm</li>
            </ul>
        </div>
    </div>
</div>
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Danh mục loai
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <!-- product left -->
        @RenderPage("menu_trai.cshtml")
        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-9 w3l-rightpro">
            <div class="wrapper">
                <input type='hidden' id='current_page' />
                <input type='hidden' id='show_per_page' />
                <div id='content'>
                    @{
                        foreach (var item in Model)
                        {

                            <div class="col-md-4">
                                <div class="" style="min-height:300px">
                                    <div class="men-thumb-item">
                                        <img src="~/Image/@item.img" alt="" style="height: 100px;">
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="#" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        @*<span class="product-new-top">New</span>*@
                                    </div>
                                    <div class="item-info-product ">
                                        <h4>
                                            <a href="@Url.Action("Chitiet","Danhsach",new { id=item.maxe})">@item.tenxe.ToString().Substring(0, (item.tenxe.Length > 30) ? 30 : item.tenxe.Length)</a>
                                        </h4>
                                        <div class="info-product-price">
                                            <span class="item_price">@double.Parse((item.giaban - item.giakhuyenmai).ToString()).ToString("#,##0")</span>
                                            @if (item.giakhuyenmai > 0)
                                            {
                                                <del>@double.Parse((item.giaban).ToString()).ToString("#,##0")</del>
                                            }
                                        </div>
                                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                            <fieldset>
                                                <input type="button" name="submit" onclick="return addCart('@item.maxe')" value="Add to cart" class="button" />
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                    <div class="clearfix"></div>
                </div>
                <div id="page_navigation"></div>
                <!-- //first section -->
            </div>
        </div>
        <!-- //product right -->
    </div>
</div>